
@{
    ViewBag.Title = "Index";
}

<h4>Select a doctor for channelling</h4>
@foreach (var item in ViewBag.Doctors)
{
    
}
@Html.DropDownList("DcotorId", new SelectList(ViewBag.Doctors, "DoctorId", "Name"),"-- Select a Dcotor --")